.main {
  background: #5A4E4A;
  padding: 30px;
  margin: 50px auto;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 0 8px #000;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-right: 20px;
}

.main h1 {
  font-size: 24px;
  text-align: center;
  margin-right: 10px;
}

.main .honey-icon {
  font-size: 50px;
  color: #B89D79;
  margin-right: 10px;
}

